.loginFormContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    background-color: #f0f2f5;
}

.loginForm {
    width: 350px;
    padding: 30px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    h2 {
        text-align: center;
        margin-bottom: 5px;
    }

    h3 {
        text-align: center;
        color: #888;
        margin-bottom: 24px;
    }

    .forgotPassword {
        float: right;
    }

    .loginButton {
        width: 100%;
    }

    .loginFooter {
        text-align: center;
        color: #888;
        font-size: 12px;
        margin-top: 16px;
    }
}